body {
  margin: 0;
  font-family:"Roboto",Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d5d4d4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --body_background:white;
  --body_color: black;

}
[theme ="dark"] {
  --body_background:rgba(0, 0, 0, 0.8);
  --body_color:white;
}
